<a href="https://colab.research.google.com/github/debaghosh/ML-models/blob/main/Linear%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

The data is retrieved from the dataset using the urllib library of python and then we use pandas to read the csv file and convert it to a dataframe.

In [2]:
from urllib.request import urlretrieve
dataset_url = "https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv"
urlretrieve(dataset_url, "medical_data.csv")

('medical_data.csv', <http.client.HTTPMessage at 0x7ff459900950>)

In [3]:
medical_data = pd.read_csv("medical_data.csv")
medical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

The above list of columns show that there are 3 categorical value columns in the dataframe. We also conclude that there are no missing values in any of the columns.

In [4]:
medical_data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

This table describing the numerical columns provide numerous information. 

*   age, bmi, children values are reasonable, with no negative values.
*   charges column has steeper values, since it's median is very less than it's max value.
*   the mean and median values for BMI are quite similar.

In [5]:
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [6]:
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (11, 7)
matplotlib.rcParams['figure.facecolor'] = '#00000000'